body {
    font-family: Arial, sans-serif;
    background-color: #b3e5fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.entrada-imc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#calcularIMC {
    background-color: green; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#calcularIMC:hover {
    background-color: darkgreen;
}

#resultadoIMC {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}